body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  max-width: 90%;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  display: block;
  width: calc(100% - 20px);
  padding: 12px;
  margin: 10px auto;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #333;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

button.circular-button {
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 100%;
  background-color: #ccc; 
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.circular-button:hover {
  background-color: #aaa; 
}

.password-output {
  margin-top: 20px;
}

.saved-password {
  font-size: 20px;
  color: #333;
  margin-top: 10px;
}

